*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden{
  display: none;
}

.overlay{

}

body{
  font-family: "DM Sans", sans-serif;
  background-color: rgba(13, 27, 42);
}

h2{
  color: rgba(224, 225, 221);
  margin-top: 40px;
  font-size: 35px;
}

h3{
  text-align: center;
}

nav{
  color: rgba(224, 225, 221);
  margin: 0px 50px;
  height: 75px;


}

nav p{
  font-size: 22px;
  font-weight: 400;
}


nav li {
  list-style-type: none;
  margin-inline: 10px;
  padding: 10px 20px;
  border-radius: 20px;

}

nav li:hover{
  background-color: rgba(13, 27, 42);
  transition: ease-in-out 1s linear;

}

button{
  height: 30px;
  width: 250px;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  color: rgba(224, 225, 221);
  cursor: pointer;
}


table {
  border-collapse: collapse;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #666; /* this draws the table border  */ 
  margin: 30px 50px;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  cursor: pointer;
  width: 1000px;
  color:rgba(224, 225, 221);
  background-color: rgba(65, 90, 119);
}

tr:nth-child(odd) {
  background-color: rgba(224, 225, 221, .6);
}

tr:nth-child(even) {
  background-color: rgba(224, 225, 221);
}

table button{
  background-color: rgba(65, 90, 119);
  border: none;
}

table button:hover{
  background-color: rgb(139, 57, 57);
  border: none;
}

input{
  height: 30px;
  width: 350px;
  border: none;
  border-radius: 5px;
  margin: 5px 0pc;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

select{
  height: 30px;
  width: 350px;
  border: none;
  border-radius: 5px;
  margin: 5px 0pc;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}